[submodule "master-pywal-theme"]
	path = master-pywal-theme
	url = https://github.com/AnthonyMichaelTDM/master-pywal-theme/
    branch = main

[submodule "mpt-tablet"]
	path = mpt-tablet
	url = https://github.com/AnthonyMichaelTDM/mpt-tablet/
    branch = main
